@import 'https://fonts.googleapis.com/css?family=Cuprum|Open+Sans|Open+Sans+Condensed:300|Scada:700&subset=cyrillic';
@font-family: 'Open Sans', sans-serif;
@menu-font: 'Open Sans Condensed', sans-serif;
@title-family: 'Scada', sans-serif;
@special-font: 'Cuprum', sans-serif;
@commom-font: 'Times New Roman', sans-serif;
@text-color: #161711;
@mobile: ~"(max-width: 768px)";
@tablet: ~"(min-width: 768px) and (max-width: 992px)";
@mobile_tablet: ~"(max-width: 992px)";
@medium: ~"(min-width: 992px) and (max-width: 1200px)";

/* header */
#header{
  position:fixed;
  display:block;
  width: 100%;
  z-index:9;
  top: 15px;
  @media @mobile_tablet{
    display:none;
  }
}
.header-nav{
  background: #ecebeb;
  border-radius: 30px;
  overflow: hidden;
  height: 60px;    
  & .back-button{
    float: left;
    & a{
      display: block;
      background: url(../img/bg-arrow-back.png) center center no-repeat #000;
      height: 60px;
      width: 60px;
    }
  }
}
#menu {
  margin: 0 0 0 60px;
  overflow: hidden;
  padding: 0;
  text-align: left;
  & li{
    display:inline-block;
    font-family: @menu-font;
    &:first-child{
      & a{
        padding: 0px 17px;
      }    
    }
    &.active{
      & a{
        color: #f1592a;
      }
    }
    & a{
      color: @text-color;
      display:inline-block;
      font-size: 18px;
      padding: 18px 17px 17px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
/* sections */
.section{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #000;
}
.story-type{
  font-size: 14px;
  font-family: @font-family;
  margin: 10px 0;
  text-transform: uppercase;
}
.main-title{
  font-size: 68px;
  font-family: @title-family;
  font-weight: bold;
  line-height: 60px;
  margin: 20px 0;
  max-width: 350px;
}
.section-title{
  font-family: @special-font;
  font-size: 36px;
  line-height: 1.17;
  margin: 10px 0;
}
.text-content{
  & p{
    font-size: 22px;
    font-family: @commom-font;
    line-height: 1.45;
    margin-bottom: 10px;
  }
}
/* maps */
.full-map{
  background: url(../img/section4.jpg) no-repeat center center;
}