@import 'https://fonts.googleapis.com/css?family=Cuprum|Open+Sans:300|Open+Sans+Condensed:300|Scada:700&subset=cyrillic';
@font-family: 'Open Sans', sans-serif;
@menu-font: 'Open Sans Condensed', sans-serif;
@title-family: 'Scada', sans-serif;
@special-font: 'Cuprum', sans-serif;
@commom-font: 'Times New Roman', sans-serif;
@text-color: #161711;
@mobile: ~"(max-width: 768px)";
@tablet: ~"(min-width: 768px) and (max-width: 992px)";
@mobile_tablet: ~"(max-width: 992px)";
@medium: ~"(min-width: 992px) and (max-width: 1200px)";

/* header */
#header{
  position:fixed;
  display:block;
  width: 100%;
  z-index:9;
  top: 15px;
  @media @mobile_tablet{
    display:none;
  }
}
.header-nav{
  background: #fff;
  border-radius: 35px 25px 25px 35px;
  height: 60px;    
  & .back-button{
    float: left;
    & a{
      border-radius: 25px 0 0 25px;
      display: block;
      background: url(../img/bg-arrow-back.png) center center no-repeat #000;
      height: 60px;
      width: 60px;
    }
  }
}
#menu {
  margin: 0 0 0 60px;
  overflow: hidden;
  padding: 0;
  text-align: left;
  & li{
    display:inline-block;
    font-family: @menu-font;
    &:first-child{
      & a{
        padding: 0px 17px;
      }    
    }
    &.active, &:hover{
      & a{
        color: #f1592a;
      }
    }
    & a{
      color: @text-color;
      display:inline-block;
      font-size: 18px;
      padding: 18px 17px 17px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
/* sections */
.section{
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
  background-position: center;
  color: #000;
  &.dark-section{
    color: #FFF;
  }
  &.map-section{
   padding-top: 0px !important;
   padding-bottom: 0px !important;
  }
}
.story-type{
  font-size: 14px;
  font-family: @font-family;
  margin: 10px 0;
  text-transform: uppercase;
}
.main-title{
  font-size: 68px;
  font-family: @title-family;
  font-weight: bold;
  line-height: 60px;
  margin: 20px 0;
  max-width: 350px;
}
.section-title{
  font-family: @special-font;
  font-size: 38px;
  line-height: 1.15;
  margin: 10px 0;
}
.chapter-subtitle{
  font-family: @special-font;
  font-size: 16px;
  margin: 10px 0;
}
.text-content{
  & p{
    font-size: 22px;
    font-family: @commom-font;
    line-height: 1.45;
    margin-bottom: 10px;
  }
  @media @mobile_tablet{
    background-color: rgba(255,255,204,0.6);
    padding: 15px;
  }
  .dark-section &{
    @media @mobile_tablet{
      background-color: rgba(0,0,0,0.5);
      padding: 15px;
    }
  }
  .full-map &{
    margin-bottom: 30px;
  }
  & img{
    box-shadow: -10px 10px 50px 0px rgba(0,0,0,0.5);
    margin: 10px auto 30px;
  }
}
.photo-carousel-wrap{
  box-shadow: -10px 10px 50px 0px rgba(0,0,0,0.5);
  margin: 20px auto;
  &--small{
    max-height: 614px;
    max-width: 490px;
  }
  &--big{
    margin: 20px 0;
  }
  & .owl-nav{
    &>div{
      background-image: url(../img/bg-carousel-slider.png);
      background-repeat: no-repeat;  
      cursor: pointer;     
      height: 83px;
      width: 40px;
      position: absolute;
      top: 50%;
      margin-top: -42px;      
    }
    & .owl-prev{
      background-position: left top;
      left: 20px;
    }
    & .owl-next{
      background-position: right top;
      right: 20px;
    }
  }
}
.text-vrezka{
  font-family: @font-family;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  margin: 40px 120px;
  @media @mobile_tablet{
    margin: 20px 20px;
  }
}
/* maps */
.full-map{
  background: url(../img/section4.jpg) no-repeat center top;
  padding-top: 100px;
  padding-bottom: 100px;
}